<h1 class="page-header">Administrar Habitaciones</h1>
<div class="row">
	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading">Habitaciones</div>
		<!-- List group -->
		<ul class="list-group  lista-habitaciones">
		{% if not habitaciones is none %}
			{% for habitacion in habitaciones %}
				<li class="list-group-item">
						<div class="row">
						<div class="col-lg-10 nombre-habitacion">{{habitacion[1]}}</div>
						<div class="col-lg-2 botones-Habitacion">
							<div class="btn-group  btn-group-sm">
							  <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
							  <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></button>
							 
							</div>
						</div>
					</div>
				</li>
			{%endfor%}
		{% endif %}
		</ul>
	</div>
	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading" data-toggle="collapse"  href="#collapseOne4" >Añadir Habitación</div>	
		<div id="collapseOne4" class="panel-body panel-collapse collapse">
			<p>
				<form role="form" onsubmit="return false" method="POST">
					<div class="form-group">
						<label for="exampleInputEmail1">Nombre</label>
						<input type="text" class="form-control" id="nombreHabitacion" placeholder="Introduzca un nombre" required="">
					</div>
					<button onclick="addHabitacion()" class="btn btn-default">Añadir</button>
				</form>
			</p>
		</div>
	</div>
</div>

