<h1 class="page-header">Administrar Habitaciones</h1>
<div class="row">
	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading">Habitaciones</div>
		<!-- List group -->
		<ul class="list-group">
		{% if not habitaciones is none %}
			{% for habitacion in habitaciones %}
				<li class="list-group-item">{{habitacion[1]}}</li>
			{%endfor%}
		{% endif %}
		</ul>
	</div>
	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading" data-toggle="collapse"  href="#collapseOne4" >Añadir Habitación</div>	
		<div id="collapseOne4" class="panel-body panel-collapse collapse">
			<p>
				<form role="form">
					<div class="form-group">
						<label for="exampleInputEmail1">Nombre</label>
						<input type="text" class="form-control" id="nombreHabitacion" placeholder="Introduzca un nombre" required="">
					</div>
					<button onclick="addHabitacion()" class="btn btn-default">Añadir</button>
				</form>
			</p>
		</div>
	</div>
</div>



<script type="text/javascript">
	function addHabitacion(name){
		var data = {
			'name' : document.querySelector('#nombreHabitacion').value
		}
		$.post('/addHabitacionAjax', data, function(response) {
		});
	}

</script>

