<h1 class="page-header">{{habitacion[0]}}</h1>
<div class="row">
{% if numPersianas > 0 %}
	<div class="panel panel-default menuPersianas">
		<!-- Default panel contents -->
		<div class="panel-heading row titulo">
			<div data-toggle="collapse"  href="#collapseSubPersianas"  class="col-xs-4 col-md-8"><h5>Persianas </h5></div>
			<div class="btn-group btn-group-sm col-md-3  col-xs-offset-1" >
				<button type="button" class="btn btn-default">Subir</button>
				<button type="button" class="btn btn-default">Parar</button>
				<button type="button" class="btn btn-default">Bajar</button>
			</div>
			
		</div>
			<div class="collapse sub-persianas panel grupo" id="collapseSubPersianas">
				<ul class="list-group persianas ">
					{% for persiana in persianas %}
						<li class="list-group-item">
							<div class="row" >
								<div  class="col-xs-4 col-md-8">
									<h5>{{persiana[1]}}</h5>
								</div>
								<div class="btn-group btn-group-sm col-md-3  col-xs-offset-1" >
									<button type="button" class="btn btn-default">Subir</button>
									<button type="button" class="btn btn-default">Parar</button>
									<button type="button" class="btn btn-default">Bajar</button>
								</div>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
	</div>
{% endif %}


